<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h2>LOGIN</h2>
                    </div>
                    <div class="card-body">
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                          </div>
                        {% endif %}
                        <form action="/user_login" method="post">
                            <div class="form-group">
                                <label for="email">EMAIL:</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email">
                            </div>
                            <div class="form-group">
                                <label for="password">PASSWORD:</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/add_user" class="float-left">Not Registered</a>
                        <a href="#" class="float-right">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
